<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-4 book-cover" title="{{ book.title }}"
       style="background-image: url({{ book.image || './images/no-cover.jpg' }})"></div>
    <div class="col-md-8">
      <div class="card-body">
        <h6 class="card-title" title="{{ book.title }}">{{ book.title }}</h6>
        <div class="card-text">
          <div ng-repeat="author in book.authors | limitTo: 3">
            <small>{{ author.firstName + ' ' + author.lastName }}</small>
          </div>
          <small class="text-muted">
            {{ (book.publisher ? (book.publisher + ', ') : '') + book.publicationYear }}
          </small>
          <small ng-show="book.pagesCount" class="text-muted">
            Pages: {{ book.pagesCount }}
          </small>
          <small ng-show="book.isbn" class="text-muted">
            ISBN: {{ book.isbn }}
          </small>
        </div>
        <div class="card-buttons">
          <button class="btn btn-sm btn-outline-warning" ng-click="openModal('editItem', book.id)">Edit</button>
          <button class="btn btn-sm btn-outline-danger" ng-click="openModal('deleteItem', book.id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
