<!doctype html>
<html class="h-100">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="Book Editor">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="bookEditorApp" ng-controller="AppCtrl" class="d-flex flex-column h-100">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
        <a class="navbar-brand" href="#/">Book Editor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li ng-class="['nav-item', currentPage === 'Books' ? 'active' : '']">
              <a class="nav-link" href="#/">Books</a>
            </li>
            <li ng-class="['nav-item', currentPage === 'Authors' ? 'active' : '']">
              <a class="nav-link" href="#/authors">Authors</a>
            </li>
          </ul>

          <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-secondary m-1 my-sm-0" ng-click="reset()">Reset Data</button>
            <button class="btn btn-outline-secondary m-1 my-sm-0" ng-click="clear()">Clear Data</button>
          </form>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div ng-view="" class="my-2"></div>
    </div>

    <footer class="footer-dark bg-dark mt-auto py-3">
      <div class="container-fluid">
        <span class="text-muted float-right">Book editor. Author: Homich Dmitry</span>
      </div>
    </footer>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/popper.js/dist/umd/popper.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/plugins/ui-bootstrap-tpls-3.0.3.min.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/books.js"></script>
        <script src="scripts/controllers/authors.js"></script>
        <script src="scripts/controllers/filters.js"></script>
        <script src="scripts/services/localStorage.js"></script>
        <script src="scripts/services/utils.js"></script>
        <script src="scripts/services/initialdata.js"></script>
        <script src="scripts/services/modal.js"></script>
        <script src="scripts/directives/bookimage.js"></script>
        <script src="scripts/directives/checkisbn.js"></script>
        <script src="scripts/services/validationrules.js"></script>
        <script src="scripts/directives/deleteimage.js"></script>
        <!-- endbuild -->
</body>
</html>
